<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminación Exitosa</title>
</head>
<style>
    :root{
        margin: 0.5rem;
        padding: 0;
        text-decoration: none;
        background-color: rgb(236, 184, 246);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        color: rgb(86, 58, 92);
    }
    button{
        background-color: rgb(86, 58, 92);
        padding: 0.4rem 0.8rem;
        border-radius: 0.8rem;
        color: rgb(236, 184, 246);
    }
    </style>
<body>
    <button onclick="window.location.href='/';">Volver</button>
    <h1>País No Encontrado</h1>
    <p>El país no se ha encontrado en la lista.</p>
</body>
</html>