<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Añade una nueva ciudad</h1>

    <form action="/api/addpais" method="post">
        <label for="siglas">Siglas del país: </label>
        <input type="text" id="siglas" name="siglas" value="EU"><br>
        
        <label for="nombre">Nombre del país: </label>
        <input type="text" id="nombre" name="nombre" value="Euskadi"><br>
        
        <label for="">Población del país: </label>
        <input type="int" id="poblacion" name="poblacion" value="100000000"><br>
        
        <label for="extension">Extensión del país: </label>
        <input type="int" id="extension" name="extension" value="45000"><br>
        
        <label for="temperatura">Temperatura media anual del país: </label>
        <input type="int" id="temperatura" name="temperatura" value="13"><br>
        
        <label for="lluvia">Lluvia media anual del país: </label>
        <input type="int" id="lluvia" name="lluvia" value="3500"><br>
    
        <input type="submit" value="Enviar">
    </form>

    <h1>Eliminar país</h1>
    <form action="/api/pais/delete" method="POST">
        <label for="nombre_eliminar">Nombre del país a eliminar: </label>
        <input type="text" id="nombre_eliminar" name="nombre" placeholder="Nombre del país"><br>
        <input type="submit" value="Eliminar país">
    </form>
</body>
</html>
