<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>divstado de Países</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="contenedor-general">
    <button onclick="window.location.href='/';">Volver</button>
    <h1>Listado de Países</h1>
    <div class="contenedor-paises">
        {% for pais in paises %}
        <div class="contenedor-pais">
            <p>Nombre: {{ pais.nombre }}</p>
            <p>Siglas: {{ pais.siglas }}</p>
            <p>Población: {{ pais.poblacion }}</p>
            <p>Extensión: {{ pais.extension }}</p>
            <p>Temperatura media: {{ pais.temperatura }}</p>
            <p>LLuvia media: {{ pais.lluvia }}</p>
            <!-- Agrega más campos aquí según tu modelo -->
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
