<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    :root{
        margin: 0.5rem;
        padding: 0;
        text-decoration: none;
        background-color: rgb(236, 184, 246);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        color: rgb(86, 58, 92);
    }
    button{
        background-color: rgb(86, 58, 92);
        padding: 0.4rem 0.8rem;
        border-radius: 0.8rem;
        color: rgb(236, 184, 246);
    }
    </style>
<body>
    <button onclick="window.location.href='/';">Volver</button>
    <h1>Buscar un país por su nombre</h1>

    <form action="/api/searchpais" method="post">
       
        <label for="nombre">Nombre del país: </label>
        <input type="text" id="nombre" name="nombre" value="Euskadi"><br>
        
        <input type="submit" value="Enviar">

    </form>
</body>
</html>